@import '~antd/dist/antd.css';

/* For demo */
.ant-carousel .slick-slide {
    text-align: center;
    height: auto;
    width: 100%;
    line-height: 160px;
    background: #1DA57A;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #1DA57A;
}